* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --font-family-title: 'Taviraj', serif;
  --font-family-body: 'Lato', sans-serif; /*'Puritan', sans-serif; */
  --color-light: #F0E5D3;
  --color-medium: #F3D0B5;
  --color-bg-light: #FAF7EE;
  --color-bg-medium: #EDEDED;
  --color-font-title: #BB7138;
  --color-font-body: #2B394A;
  --color-font-span: #734F96;
  --color-button: #A5AA93;
  --color-menu-toggle: #556B2F;
  --color-menu-hover: #ec366b; /*#740F35*/
  --color-border: #BAB86C;
  --color-timer-inner: #967BB6;
  --color-timer-outer: #f7d9e3; /*#feeff4*/
}

body {
  background-color: var(--color-bg-medium);
  color: var(--color-font-body);
}

h3,
h4,
h5,
h6,
p,
pre,
li,
td, 
label {
  font-family: var(--font-family-body);
}

h1,
h2 {
  font-family: var(--font-family-title);
}

.topbar {
  width: 70%;
  height: 40px;
  background-color: var(--color-light);
}

footer {
  display: flex;
}

.bottombar1 {
  width: 30%;
  height: 40px;
  background-color: var(--color-bg-light);
}

.bottombar2 {
  width: 70%;
  height: 40px;
  background-color: var(--color-medium);
}

.background1 {
  background: var(--color-bg-light) url("../images/catskitchen-screened.jpg") no-repeat center center;
  background-size: 100%;
}

.background2 {
  background: var(--color-bg-light) url("../images/catbiscuits-screened.jpg") no-repeat top center;
  background-size: 100%;
}

.background3 {
  background: var(--color-bg-light) url("../images/catbaking-screened.jpg") no-repeat top center;
  background-size: 100%;
}

.background4 {
  background: var(--color-bg-light) url("../images/catspicnic-screened.jpg") no-repeat top center;
  background-size: 100%;
}

.background5 {
  background: var(--color-bg-light) url("../images/catscafe-screened.jpg") repeat top center;
  background-size: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

#home {
  justify-content: start;
}

header h1 {
  color: var(--color-font-title);
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.2em;
  padding: 10px 10px;
}

#logo1 {
  height: 100px;
  padding: 8px;
}

header h2, header a {
  font-family: var(--font-family-title);
  color: var(--color-font-title);
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1.25px;
  line-height: 1.2em;
  padding: 15px 10px;
}

span {  /* active page title */
  font-family: var(--font-family-body);
  font-size: 0.8em;
  font-weight: 600;
  color: var(--color-font-span);
  font-style: oblique;
}

span.count {
  font-style: normal;
}

#logo2 {
  height: 80px;
  padding: 5px 10px 10px 0;
}

#intro {
  padding: 20px 30px 80px 30px;
  font-size: 1.05em;
  font-weight: 600;
  line-height: 1.35em;
  color: var(--color-font-body);
}

.big-box {
  padding: 10px;
}

.convert {
  display: flex;
  padding: 10px 10px 40px 10px;
}

input,
select,
textarea {
  width: 120px;
  text-align: center;
  border: 1px solid var(--color-border);
  margin: 10px 10px 0 0;
  padding: 5px 10px 5px 0;
  border-radius: 5px;
}

#input {
  width: 70px;
}

td,
th {
  padding: 10px 10px 0 0;
  font-weight: 400;
}

h3, #main-title {
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding: 10px 10px;
}

#timer h3, #inspirations h3 {
  padding: 20px;
}

pre, #cooking, label {
  font-size: 0.8em;
  font-style: oblique;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 0.8em;
  padding: 10px 10px;
}

#recipe, #list  {
  padding: 10px;
}

#items_table {
  padding: 5px;
}

#items_table td {
  padding: 2px 10px;
}

.button {
  display: block;
  width: 300px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 8px;
  background-color: var(--color-button);
  border-color: #var(--color-button);
  border-style: none;
  border-radius: 10px;
  margin: 20px auto;
  color: white;
  -webkit-appearance: none;
}

.button a {
  color: white;
}

.recipebuttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.small {
  display: inline-block;
  width: 100px;
  margin: 10px 2px;
}

.last {
  margin-bottom: 50px;
}

.box1 {
  padding-right: 5px;
}

.box1 p {
  font-size: 1em;
  font-weight: 400;
  text-align: end;
}

.box2 {
  /*hide the other units convert only cups & spoons */
  display: none;
}

.blank1 {
  height: 240px;
}

.blank2 {
  height: 220px;
}

.blank3 {
  height: 100px;
}

/* Hamburger Menu source - https://codepen.io/erikterwan/pen/EVzeRP */

#menuToggle {
  display: block;
  position: relative;
  top: 11px;
  left: 30px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: var(--color-menu-toggle);
  transition: color 0.3s ease;
  font-weight: 400;
}

#menuToggle a:hover {
  color: var(--color-menu-hover);
  font-size: 1.2em;
  font-style: italic;
  font-weight: 600;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 27px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #6A6A6A;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #6A6A6A;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 370px;
  margin: -100px 0 0 -50px;
  padding: 40px;
  padding-top: 100px;
  background: var(--color-light);
  opacity: 90%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 5px;
  font-size: 1.1em;
}

#menuToggle input:checked~ul {
  transform: none;
}

/* Cooking Timer source - https://codepen.io/khadkamhn/pen/xRbyxR */

*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.clock:before,
.count:after{
	content:'';
	position:absolute;
}
.clock-wrap{
	margin:auto;
	width:240px;
	height:240px;
	margin-top:20px;
	position:relative;
	border-radius:50px;
	background-color:rgb(255,255,255,0.65);
	box-shadow:0 0 15px rgba(0,0,0,.15);
}
.clock{
	top:50%;
	left:50%;
	width:180px;
	height:180px;
	border-radius:50%;
	position:absolute;
	margin-top:-90px;
	margin-left:-90px;
	background-color:var(--color-timer-outer);
}
.clock:before{
	top:50%;
	left:50%;
	width:120px;
	height:120px;
	margin-top:-60px;
	margin-left:-60px;
	border-radius:inherit;
	background-color:var(--color-timer-inner);
	box-shadow:0 0 15px rgba(0,0,0,.15), 0 0 3px rgba(255,255,255,.75) inset;
}
.count{
	width:100%;
	color:#fff;
	height:100%;
	padding:50px;
	font-size:32px;
	font-weight:500;
	line-height:50px;
	position:absolute;
	text-align:center;
}
.count:after{
	width:100%;
	display:block;
	font-size:18px;
	font-weight:300;
	line-height:18px;
	text-align:center;
	position:relative;
}
.count.sec:after{content:'sec'}
.count.min:after{content:'min'}
.action{
	margin:auto;
	max-width:200px;
}

.action .input{
	margin-top:30px;
	position:relative;
}

.action .input-num{
	width:200px;
	border:none;
	padding:12px;
	border-radius:60px;
  margin: 10px -30px;
  font-size: 1em;
  text-align: center;
}

.action .input-btn{
  top:0;
	right:0;
	color:#fff;
	border:none;
	padding:12px;
	position:absolute;
	border-radius:60px;
	background-color:var(--color-button);
	text-transform:uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 10px -50px;
  -webkit-appearance: none;
}

.tbl{display:table;width:100%}
.tbl .col{display:table-cell}

/* Flickr Gallery */
#photos {
  padding: 15px;
}

img {
  height: 100px;
  padding: 2px;
}